vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Apr 2006 10:25:30 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|02 Apr 2006 10:25:30 -0000
vti_filesize:IR|7600
vti_cachedlinkinfo:VX|S|bg_grad.jpg S|glbnav_background.gif S|glblnav_selected.gif S|backgroundpattern.jpg S|bg_nav.jpg
vti_cachedsvcrellinks:VX|FSUS|dtd/bg_grad.jpg FSUS|dtd/glbnav_background.gif FSUS|dtd/glblnav_selected.gif FSUS|dtd/backgroundpattern.jpg FSUS|dtd/bg_nav.jpg
vti_lineageid:SR|{4BFE73B1-2511-4930-B915-E17A3CEF0AE0}
vti_backlinkinfo:VX|dtd/index.htm
