vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Oct 2004 23:18:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|01 Oct 2004 23:18:00 -0000
vti_filesize:IR|3202
vti_cachedtitle:SR|Bombness Networks
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|S|nav-tile.gif H|/ S|logo.jpg H|/ S|logo2.gif S|h-tile.gif S|ht2.gif H|/ S|h-home.gif H|contact.bh S|h-contact.gif H|about.bh S|h-about.gif S|ht3.gif S|nav.jpg H|/ H|advertising.bh H|sites.bh H|identities.bh H|investors.bh H|about.bh
vti_cachedsvcrellinks:VX|FSUS|layout/nav-tile.gif WHUS|Default.asp FSUS|layout/logo.jpg WHUS|Default.asp FSUS|layout/logo2.gif FSUS|layout/h-tile.gif FSUS|layout/ht2.gif WHUS|Default.asp FSUS|layout/h-home.gif NHUS|layout/contact.bh FSUS|layout/h-contact.gif NHUS|layout/about.bh FSUS|layout/h-about.gif FSUS|layout/ht3.gif FSUS|layout/nav.jpg WHUS|Default.asp NHUS|layout/advertising.bh NHUS|layout/sites.bh NHUS|layout/identities.bh NHUS|layout/investors.bh NHUS|layout/about.bh
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=iso-8859-1
vti_charset:SR|windows-1252
vti_title:SR|Bombness Networks
vti_lineageid:SR|{F1146C77-460F-4058-ADAF-B90273E172E9}
vti_backlinkinfo:VX|
