vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Jul 2005 22:49:31 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|06 Jul 2005 22:49:31 -0000
vti_filesize:IR|8998
vti_cachedlinkinfo:VX|S|http://www.delbarton.org/imagesSP/sheild-bg.gif S|http://www.delbarton.org/images/aboutus/bg_content.gif S|http://www.delbarton.org/imagesSP/hdr-madisonblock.gif S|http://www.delbarton.org/imagesSP/hdr-greenwave.gif
vti_cachedsvcrellinks:VX|NSHS|http://www.delbarton.org/imagesSP/sheild-bg.gif NSHS|http://www.delbarton.org/images/aboutus/bg_content.gif NSHS|http://www.delbarton.org/imagesSP/hdr-madisonblock.gif NSHS|http://www.delbarton.org/imagesSP/hdr-greenwave.gif
vti_lineageid:SR|{AE68230E-916D-4A3C-B177-48E33DCAB96A}
vti_backlinkinfo:VX|
