vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2006 09:18:13 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|06 Mar 2006 09:18:13 -0000
vti_filesize:IR|7600
vti_cachedlinkinfo:VX|S|bg_grad.jpg S|glbnav_background.gif S|glblnav_selected.gif S|backgroundpattern.jpg S|bg_nav.jpg
vti_cachedsvcrellinks:VX|FSUS|idr/bg_grad.jpg FSUS|idr/glbnav_background.gif FSUS|idr/glblnav_selected.gif FSUS|idr/backgroundpattern.jpg FSUS|idr/bg_nav.jpg
vti_lineageid:SR|{8351AC7F-4D77-4A70-9655-27DCF1B4710D}
vti_backlinkinfo:VX|idr/artists.htm idr/index.htm idr/privacypolicy.htm idr/Untitled-1.html idr/services.htm idr/services.x.html idr/test.html idr/bio.htm idr/contact.htm idr/facts.htm idr/search.htm idr/sitemap.htm idr/Templates/IDR.dwt
